@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "YekanBakh";
        src: url("/fonts/YekanBakh-Regular.woff2") format("woff2");
        font-weight: 400;
    }

    @font-face {
        font-family: "YekanBakh";
        src: url("/fonts/YekanBakh-Light.woff2") format("woff2");
        font-weight: 300;
    }

    @font-face {
        font-family: "YekanBakh";
        src: url("/fonts/YekanBakh-Heavy.woff2") format("woff2");
        font-weight: 500;
    }

    @font-face {
        font-family: "YekanBakh";
        src: url("/fonts/YekanBakh-Fat.woff2") format("woff2");
        font-weight: 600;
    }

    @font-face {
        font-family: "YekanBakh";
        src: url("/fonts/YekanBakh-Bold.woff2") format("woff2");
        font-weight: 700;
    }
}

@layer components {
    .primaryTransition {
        transition: all ease 250ms;
    }
    .shadowLayOut {
        box-shadow: 1px 1px 3px rgb(124, 58, 237);
    }
    .btn {
        transition: all ease 250ms;
        cursor: pointer;
        background: rgb(114, 9, 121);
        background: rgb(124, 58, 237);
        color: white;
        padding: 4px 10px;
        border: 1px solid rgb(124, 58, 237);
        border-radius: 10px;
    }
    .btn-hover {
        opacity: 85%;
        box-shadow: 1px 1px 20px rgb(124, 58, 237);
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "YekanBakh";
    font-weight: normal;
    font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button,
input,
textarea {
    font-family: inherit;
}
